.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .file-input {
    margin-bottom: 20px;
  }
  .data-grid {
    width: 100%;
    height: 300;
  }
  