.serach {
    display: flex;
}

.word {
    display: flex;
    margin-left: 50px;
    font-size: 12px;
}

.searchInputs {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    border: 2px solid #ccc;
    border-radius: 2px;
    width: 150px;
  }
  
  .search input {
    background-color: white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0;
    font-size: 14px;
    padding: 10px;
    height: 10px;
    width: 100px;
  }
  
  .searchIcon {
    height: 25px;
    width: 30px;
    background-color: white;
    display: grid;
    place-items: center;
  }

  .dateIcon-r {
    height: 30px;
    width: 40px;
    background-color: white;
    display: grid;
    place-items: center;
    margin-left: 0;
  }

  .dateIcon{
    height: 30px;
    width: 40px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 100px;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 5px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }