.trend-card {
    max-width: 90%;
    max-height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 2px;
}

.trend-title {
    font-weight: bold;
    font-size: larger;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: none;
    padding-bottom: none;
}