.card {
  text-align: left;
  text-size-adjust: 40px;
  margin-bottom: 5px;
}

.body {
  font-family: -apple-system, system-ui;
}
.ant-dropdown-menu {
  max-height: 250px;
  overflow: auto;
}

.menu-title {
  color: #828282;
  font-family: "Karla-Medium", Helvetica;
  font-size: calc(15px);
  font-weight: 900;
  margin: 10px;
}
