.api-break {
    width: 20%;
    color: aliceblue;
}

.api-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.api-parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.api-btn {
    width: 30%;
}

.api-textbox {
    width: 40%;
    margin-right: 20px;
}