.upload-box {
    border: 2px dashed #B3D4FC;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    background-color: #F4F8FF;
}

.upload-icon {
    /* Adjust the size as needed or based on your actual SVG icon */
    width: auto;
    height: 50px;
    margin-bottom: 8px;
}

.upload-icon img {
    width: 100%;
    height: 100%;
}

.upload-area {
    display: inline-block;
    cursor: pointer;
}

.upload-area p {
    margin: 10px 0;
    color: #6C8EBF;
}

.browse {
    color: #307BFF;
    text-decoration: underline;
    cursor: pointer;
}

.support-text {
    font-size: 12px;
}

/* Additional styling to handle hover, focus, and active states */
.upload-area:hover,
.upload-area:focus {
    background-color: #E6F0FF;
    /* Optional: scale the icon a bit */
    transform: scale(1.02);
}

/* If you want to handle the file dragging state */
.upload-box.dragover {
    background-color: #DDEFFF;
}

.uploaded-files-wrapper {
    border: 2px solid #D6E4FF;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    background-color: #F4F8FF;
}

.uploaded-files-box {
    max-height: 300px;
    /* Or any height you prefer */
    overflow-y: auto;
    /* To make it scrollable when the list is long */
}

.files-list-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #D6E4FF;
    font-weight: bold;
}

.file-upload-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
}

.file-name,
.file-size,
.file-upload-progress,
.file-actions {
    text-align: left;
}

.file-name {
    flex-basis: 20%;
}

.file-size {
    flex-basis: 10%;
}

.file-upload-progress {
    display: flex;
    flex-basis: 30%;
    align-items: center;
}

.progress-bar {
    flex-grow: 1; /* Take up available space */
    width: 100%;
    background-color: #eee;
    margin-right: 10px; /* Space between the progress bar and the percentage */
}

.progress {
    height: 20px;
    background-color: #4caf50;
}

.progress-percentage {
    white-space: nowrap; /* Prevents wrapping */
}

.file-actions {
    flex-basis: 0%;
}

.file-actions button {
    /* Style your button accordingly */
}

.alert-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f44336; /* Red */
    color: white;
    text-align: center;
    padding: 1rem;
    z-index: 1000; /* Make sure it's above other elements */
}

