
  
  .element {
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    /* margin: 10px; */
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 10px;
    font-family: monospace;
  }
  
  p {
    font-size: 16px;
    font-weight: bold;
  }
  